sandbox/src/org/springframework/jms/support/jmsconfig.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XML Spy v4.4 U (http://www.xmlspy.com) by Mark Pollack -->
<!--W3C Schema generated by XML Spy v4.4 U (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="destinationName" type="xs:string"/>
	<xs:element name="jmsconfig">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="connectionFactories">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="connectionFactory">
								<xs:complexType>
									<xs:attribute name="name" type="xs:string" use="required"/>
									<xs:attribute name="jndiName" type="xs:string" use="required"/>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="connections">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="connection" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="connectionFactoryName">
											<xs:complexType>
												<xs:attribute name="name" type="xs:string" use="required"/>
											</xs:complexType>
										</xs:element>
										<xs:element name="username" type="xs:string"/>
										<xs:element name="password" type="xs:string"/>
									</xs:sequence>
									<xs:attribute name="name" type="xs:string" use="required"/>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="sessions">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="session" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="connectionName" type="xs:string"/>
										<xs:element name="transacted" type="xs:boolean"/>
										<xs:element name="ack">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:enumeration value="AUTO_ACKNOWLEDGE"/>
													<xs:enumeration value="CLIENT_ACKNOWLEDGE"/>
													<xs:enumeration value="DUPS_OK_ACKNOWLEDGE"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="name" type="xs:string" use="required"/>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="destinations">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="destination" maxOccurs="unbounded">
								<xs:complexType>
									<xs:attribute name="name" type="xs:string" use="required"/>
									<xs:attribute name="jndiName" type="xs:string" use="required"/>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="producers">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="producer" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element ref="sessionName"/>
										<xs:element ref="destinationName"/>
										<xs:element name="deliverymode">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:enumeration value="NON_PERSISTENT"/>
													<xs:enumeration value="PERSISTENT"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="priority" type="xs:int"/>
										<xs:element name="timetolive" type="xs:long"/>
									</xs:sequence>
									<xs:attribute name="name" type="xs:string" use="required"/>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="consumers">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="consumer" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element ref="sessionName"/>
										<xs:element ref="destinationName"/>
										<xs:element name="selector" type="xs:string"/>
										<xs:element name="nolocal" type="xs:boolean"/>
										<xs:element name="messageListener" type="xs:string"/>
									</xs:sequence>
									<xs:attribute name="name" type="xs:string" use="required"/>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="sessionName" type="xs:string"/>
</xs:schema>
