sandbox/src/org/springframework/jms/support/jmsmessage.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XML Spy v4.4 U (http://www.xmlspy.com) by Mark Pollack -->
<!--W3C Schema generated by XML Spy v3.5 NT (http://www.xmlspy.com)-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xsd:element name="mapfield">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="mapfield" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
			<xsd:attribute name="name" type="xsd:string" use="required"/>
			<xsd:attribute name="value" type="xsd:string" use="required"/>
			<xsd:attribute name="type" use="required">
				<xsd:simpleType>
					<xsd:restriction base="xsd:NMTOKEN">
						<xsd:enumeration value="boolean"/>
						<xsd:enumeration value="dateTime"/>
						<xsd:enumeration value="byte"/>
						<xsd:enumeration value="unsignedByte"/>
						<xsd:enumeration value="short"/>
						<xsd:enumeration value="unsignedShort"/>
						<xsd:enumeration value="float"/>
						<xsd:enumeration value="int"/>
						<xsd:enumeration value="unsignedInt"/>
						<xsd:enumeration value="long"/>
						<xsd:enumeration value="unsignedLong"/>
						<xsd:enumeration value="string"/>
						<xsd:enumeration value="double"/>
						<xsd:enumeration value="TibrvMsg"/>
						<xsd:enumeration value="I8ARRAY"/>
						<xsd:enumeration value="U8ARRAY"/>
						<xsd:enumeration value="I16ARRAY"/>
						<xsd:enumeration value="U16ARRAY"/>
						<xsd:enumeration value="I32ARRAY"/>
						<xsd:enumeration value="U32ARRAY"/>
						<xsd:enumeration value="I64ARRAY"/>
						<xsd:enumeration value="F32ARRAY"/>
						<xsd:enumeration value="F64ARRAY"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="messages">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="message" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="message">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="header">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="JMSDestination" type="xsd:string" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="properties">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="JMSXUserID" type="xsd:string" minOccurs="0"/>
							<xsd:element name="custom" minOccurs="0" maxOccurs="unbounded">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="name" type="xsd:string"/>
										<xsd:element name="value" type="xsd:string"/>
										<xsd:element name="type">
											<xsd:simpleType>
												<xsd:restriction base="xsd:NMTOKEN">
													<xsd:enumeration value="boolean"/>
													<xsd:enumeration value="byte"/>
													<xsd:enumeration value="short"/>
													<xsd:enumeration value="float"/>
													<xsd:enumeration value="int"/>
													<xsd:enumeration value="long"/>
													<xsd:enumeration value="string"/>
													<xsd:enumeration value="double"/>
												</xsd:restriction>
											</xsd:simpleType>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="body">
					<xsd:complexType>
						<xsd:choice>
							<xsd:element name="mapmessage">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element ref="mapfield" maxOccurs="unbounded"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
						</xsd:choice>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="subject" type="xsd:string"/>
</xsd:schema>
